$color-black: #000;
$color-white: #fff;
$color-dark: #2c2c2c;
$color-light: $color-white;

:root {
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-dark: #{$color-dark};
  --color-light: #{$color-light};

  --color-body-text: var(--color-dark);
  --color-body-background: var(--color-light);
}
